body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#game-board{
    background-color: rgb(53, 52, 52);
    position:relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#background{
    background-image: url("./images/background_monument_valley.png");
    background-size: 50vh; 
    background-position: 0;
    width:90vw;
    height:50vh;
    border-radius: 10px;
}

#floor{
    position: absolute;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#player{
    position: absolute;
    /* border-radius: 50%; */
    bottom: 50px;
    right: calc(100% - 40px);
}

.stand-player{
    width:30px;
    height:60px;
}

.bend-player{

    width:30px;
    height:30px ;
}

.walk1{
    background-image: url("./images/walk2.png");
}
.walk2{
    background-image: url("./images/walk5.png");
}


#floor{
    background-image: url("./images/floor2.png");
    background-size:100px ;
    background-position: 0;
    height: 50px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}
#score{
    margin:0;
    color:white;
    position: absolute;
    right: 10px;
    top: 10px;
}

#level{
    margin:0;
    color:white;
    position: absolute;
    left: 10px;
    top: 10px;
}

.obstacle{
    width:30px;
    height:30px;
    position: absolute;
}

.obs-down{
    background-image: url("./images/obstacle_down.png");
    bottom: 50px;
    right: 0px;
}

.obs-top{
    background-image: url("./images/obstacle_up.png");
    bottom: 90px;
    right: 0px;
}
.reward{
    background-image: url("./images/star.png");
    bottom: 50px;
    right: 0px;
}

.stars-container{
    display: flex;
}
.absolute{
    position: absolute;
    top:35px;
    left:10px;
}
.reward-accum{
    background-image: url("./images/star.png");
    width:30px;
    height: 30px;
    top:35px;
    left: 0px;
}

.bullet{
    position: absolute;
    width:10px;
    height: 10px;
    background-image: url("./images/star.png");
    background-size: cover;
    bottom: 70px;
    right: calc(100% - 40px);
    z-index: 1;
}
.game-over-title{
    position: absolute;
    font-size: 4em;
    color:beige
}

.restart{
    position: absolute;
    top:60%;
}

.hidden{
    display: none;

}

.btn{
    width: 5em;
    height: 5em;
    background-image: url(./images/play_button.png);
    background-size: cover;
    border-radius: 50%;
    border:none;
    color:  rgb(78, 76, 76);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    font-weight: bolder;
}

.btn:hover{
    width:5.5em;
    height: 5.5em;
}
