body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

#game-board{
    background-color: rgb(53, 52, 52);
    
    position:relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background{
    background-image: url("./images/background_monument_valley.png");
    background-size: 50vh; 
    background-position: 0;
    width:90vw;
    height:50vh;

}

#floor{
    position: absolute;
    
}

#player{
    /* background-image: url("./images/walk5.png"); */
    position: absolute;
    border-radius: 50%;
    bottom: 50px;
    right: calc(100% - 40px);
    
}
.stand-player{
   
    width:30px;
    height:60px;
}
.bend-player{

    width:30px;
    height:30px ;
}
.walk1{
    background-image: url("./images/walk2.png");
}
.walk2{
    background-image: url("./images/walk5.png");
}


#floor{
    background-image: url("./images/floor2.png");
    background-size:100px ;
    background-position: 0;
    height: 50px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}
#score{
    margin:0;
    color:white;
    position: absolute;
    right: 10px;
    top: 10px;
    
}

.obstacle{
    width:30px;
    height:30px;
    background-color: rgb(235, 214, 128);
    position: absolute;
    
}

.obs-down{
    bottom: 50px;
    right: 0px;
}
.obs-top{
    bottom: 90px;
    right: 0px;
}

.game-over-title{
    position: absolute;
    font-size: 4em;
    color:beige
}

.restart{
    position: absolute;
    top:60%;
}

.hidden{
    display: none;

}


/* .centered-btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      
} */
.btn{
    width: 5em;
    height: 5em;
    background-color: beige;
    border-radius: 50%;
    /* border:solid 4px beige; */
    border:none;
    color:  rgb(78, 76, 76);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    font-weight: bolder;
    -webkit-box-shadow: inset -2px 0px 10px 10px #454040; 
    box-shadow: inset -2px 0px 15px 5px #817f7f;
    
}


/* .timer{
    color: white;
    position: absolute;
    margin: 0;
    bottom: 50px;
    left: 50px ;
}

.hidden{
    display:none;
} */